@inherits UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;

@{
    Layout = "Master.cshtml";
}

@Html.Partial("~/Views/Partials/Header.cshtml")

@Html.Partial("~/Views/Partials/Slider.cshtml")

@Html.Partial("~/Views/Partials/Acchivement.cshtml")

@Html.Partial("~/Views/Partials/Tab.cshtml")

@Html.Partial("~/Views/Partials/Employee.cshtml")

@Html.Partial("~/Views/Partials/Blog_Page.cshtml")

@Html.Partial("~/Views/Partials/Category.cshtml")

<div class="mail" id="contact-us">
    @{Html.RenderAction("RenderForm", "ContactSurface");}
</div>

<style>
    .counter:after {
        content: '+';
        font-size: 42px;
        color: #fff;
    }

    .counter {
        top: 0px;
        margin-left: 60px;
        color: #fff;
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 1px;
        position: absolute;
    }

    @@media(max-width:786px) {
        .banner-btm-agileits {
            text-align: left !important;
        }

        .counter {
            color: white;
            font-size: 32px;
            right: 0px;
            font-weight: bold;
            letter-spacing: 1px;
        }

            .counter:after {
                content: '+';
                font-size: 32px;
                color: #fff;
            }
    }
    /*--Blog header--*/

    .masterhead {
        padding: 0;
        padding-top: 25%;
        background: no-repeat center center;
        background-attachment: scroll;
        position: relative;
        background-size: cover;
        background-image: url(/imgrealhome/sergio-sala-VbB6HYunm04-unsplash.jpg);
    }

        .masterhead .overlay-blg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #1a1818;
            opacity: 0.5;
        }

    .banner-news {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .h-100 {
        height: 100% !important;
        display: flex;
        flex-wrap: wrap;
    }

    .title-blog {
        align-self: center;
    }

    .site-head {
        text-align: center;
        color: #fff;
    }

    /*--End blog Header--*/
    /*--Blog content--*/

    .breadcrumbs * {
        font-size: 0.8rem;
        line-height: 3rem;
    }

    .breadcrumbs {
        height: 50px;
        align-items: center;
        padding: 0 20px;
        margin: 20px 0;
        background: #f7f7f7;
        border-radius: 5px;
    }

    .breadcrumb-item {
        text-transform: uppercase;
        display: flex;
        margin: auto;
    }

        .breadcrumb-item a {
            text-decoration: none;
            color: #000;
        }

    .fa-chevron-right {
        margin: 0 1rem;
    }

    .blog__header {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .blog-headline {
        font-family: PlayfairDisplay,serif;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 15px;
    }

    .sapo {
        font-weight: 600;
        line-height: 2rem;
    }

    .blog__content {
        display: flex;
    }

    #abody .blog__quote {
        margin: 10px 4rem;
    }

        #abody .blog__quote p i {
            display: block;
            color: #606f70;
            font-size: 14px;
            letter-spacing: 1px;
        }

    #abody .blog__description {
        margin: 1rem auto;
    }

        #abody .blog__description p {
            margin-bottom: 1.5rem;
            font-family: 'Times', sans-serif;
            font-size: 17px;
            line-height: 30px;
            text-align: justify;
        }

    /*--Blog Sidebar--*/
    .blog__sidebar {
        margin-top: 20px;
    }

    .blog__latest {
        margin-bottom: 2rem;
    }

        .blog__latest ul {
            background: #0066b3;
            height: 4rem;
            align-items: center;
            display: flex;
            border-radius: 5px;
            margin-bottom: 2rem;
        }

            .blog__latest ul li {
                display: flex;
                color: #fff;
                background: 0 0;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 0 22px;
            }

    .blog__story {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #eee;
        margin-bottom: 0.5rem;
    }

        .blog__story h3 {
            margin-top: 10px;
            font-weight: 500;
        }

            .blog__story h3 a {
                color: #5d875c;
            }



    .blog__tabs .blog__story a img {
        width: 100%;
        border-radius: 10px;
    }

    .story__description {
        margin: 1rem;
    }

        .story__description ul {
            text-align: justify;
        }

            .story__description ul li {
                font-size: 14px;
                margin-bottom: 5px;
            }
</style>

<script>
    const counters = document.querySelectorAll('.counter');

    counters.forEach((counter) => {
        counter.innerText = '0';
        const updateCounter = () => {
            const target = +counter.getAttribute('data-target');
            const c = +counter.innerText;
            const increment = target / 1300;
            if (c < target) {
                counter.innerText = `${Math.ceil(c + increment)}`;
                setTimeout(updateCounter, 1);
            }
        };
        updateCounter();
    });
</script>